Buenos Aires/BuenosAiresCSharp/BuenosAires.VentaBA/Connected Services/ServicioStockProducto/ServicioStockProducto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BuenosAires.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4795/ServicioStockProducto.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfStockProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockProducto" nillable="true" type="tns:StockProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockProducto" nillable="true" type="tns:ArrayOfStockProducto" />
  <xs:complexType name="StockProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Factura" nillable="true" type="tns:Factura" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:Producto" />
      <xs:element minOccurs="0" name="idprod" type="xs:int" />
      <xs:element minOccurs="0" name="idstock" type="xs:int" />
      <xs:element minOccurs="0" name="nrofac" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockProducto" nillable="true" type="tns:StockProducto" />
  <xs:complexType name="Factura">
    <xs:sequence>
      <xs:element minOccurs="0" name="GuiaDespacho" nillable="true" type="tns:ArrayOfGuiaDespacho" />
      <xs:element minOccurs="0" name="PerfilUsuario" nillable="true" type="tns:PerfilUsuario" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:Producto" />
      <xs:element minOccurs="0" name="SolicitudServicio" nillable="true" type="tns:ArrayOfSolicitudServicio" />
      <xs:element minOccurs="0" name="StockProducto" nillable="true" type="tns:ArrayOfStockProducto" />
      <xs:element minOccurs="0" name="descfac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechafac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idprod" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:int" />
      <xs:element minOccurs="0" name="nrofac" type="xs:int" />
      <xs:element minOccurs="0" name="rutcli" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Factura" nillable="true" type="tns:Factura" />
  <xs:complexType name="ArrayOfGuiaDespacho">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GuiaDespacho" nillable="true" type="tns:GuiaDespacho" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuiaDespacho" nillable="true" type="tns:ArrayOfGuiaDespacho" />
  <xs:complexType name="GuiaDespacho">
    <xs:sequence>
      <xs:element minOccurs="0" name="Factura" nillable="true" type="tns:Factura" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:Producto" />
      <xs:element minOccurs="0" name="estadogd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idprod" type="xs:int" />
      <xs:element minOccurs="0" name="nrofac" type="xs:int" />
      <xs:element minOccurs="0" name="nrogd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuiaDespacho" nillable="true" type="tns:GuiaDespacho" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Factura" nillable="true" type="tns:ArrayOfFactura" />
      <xs:element minOccurs="0" name="GuiaDespacho" nillable="true" type="tns:ArrayOfGuiaDespacho" />
      <xs:element minOccurs="0" name="StockProducto" nillable="true" type="tns:ArrayOfStockProducto" />
      <xs:element minOccurs="0" name="descprod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idprod" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomprod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Factura" nillable="true" type="tns:Factura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactura" nillable="true" type="tns:ArrayOfFactura" />
  <xs:complexType name="PerfilUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Factura" nillable="true" type="tns:ArrayOfFactura" />
      <xs:element minOccurs="0" name="SolicitudServicio" nillable="true" type="tns:ArrayOfSolicitudServicio" />
      <xs:element minOccurs="0" name="apeusu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auth_user" nillable="true" type="tns:auth_user" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirusu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomusu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipousu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilUsuario" nillable="true" type="tns:PerfilUsuario" />
  <xs:complexType name="ArrayOfSolicitudServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudServicio" nillable="true" type="tns:SolicitudServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudServicio" nillable="true" type="tns:ArrayOfSolicitudServicio" />
  <xs:complexType name="SolicitudServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Factura" nillable="true" type="tns:Factura" />
      <xs:element minOccurs="0" name="PerfilUsuario" nillable="true" type="tns:PerfilUsuario" />
      <xs:element minOccurs="0" name="descsol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadosol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechavisita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nrofac" type="xs:int" />
      <xs:element minOccurs="0" name="nrosol" type="xs:int" />
      <xs:element minOccurs="0" name="ruttec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tiposol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudServicio" nillable="true" type="tns:SolicitudServicio" />
  <xs:complexType name="auth_user">
    <xs:sequence>
      <xs:element minOccurs="0" name="PerfilUsuario" nillable="true" type="tns:ArrayOfPerfilUsuario" />
      <xs:element minOccurs="0" name="auth_user_groups" nillable="true" type="tns:ArrayOfauth_user_groups" />
      <xs:element minOccurs="0" name="auth_user_user_permissions" nillable="true" type="tns:ArrayOfauth_user_user_permissions" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="date_joined" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="is_active" type="xs:boolean" />
      <xs:element minOccurs="0" name="is_staff" type="xs:boolean" />
      <xs:element minOccurs="0" name="is_superuser" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="last_login" type="q2:DateTimeOffset" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auth_user" nillable="true" type="tns:auth_user" />
  <xs:complexType name="ArrayOfPerfilUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerfilUsuario" nillable="true" type="tns:PerfilUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfilUsuario" nillable="true" type="tns:ArrayOfPerfilUsuario" />
  <xs:complexType name="ArrayOfauth_user_groups">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="auth_user_groups" nillable="true" type="tns:auth_user_groups" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfauth_user_groups" nillable="true" type="tns:ArrayOfauth_user_groups" />
  <xs:complexType name="auth_user_groups">
    <xs:sequence>
      <xs:element minOccurs="0" name="auth_group" nillable="true" type="tns:auth_group" />
      <xs:element minOccurs="0" name="auth_user" nillable="true" type="tns:auth_user" />
      <xs:element minOccurs="0" name="group_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auth_user_groups" nillable="true" type="tns:auth_user_groups" />
  <xs:complexType name="auth_group">
    <xs:sequence>
      <xs:element minOccurs="0" name="auth_group_permissions" nillable="true" type="tns:ArrayOfauth_group_permissions" />
      <xs:element minOccurs="0" name="auth_user_groups" nillable="true" type="tns:ArrayOfauth_user_groups" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auth_group" nillable="true" type="tns:auth_group" />
  <xs:complexType name="ArrayOfauth_group_permissions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="auth_group_permissions" nillable="true" type="tns:auth_group_permissions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfauth_group_permissions" nillable="true" type="tns:ArrayOfauth_group_permissions" />
  <xs:complexType name="auth_group_permissions">
    <xs:sequence>
      <xs:element minOccurs="0" name="auth_group" nillable="true" type="tns:auth_group" />
      <xs:element minOccurs="0" name="auth_permission" nillable="true" type="tns:auth_permission" />
      <xs:element minOccurs="0" name="group_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="permission_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auth_group_permissions" nillable="true" type="tns:auth_group_permissions" />
  <xs:complexType name="auth_permission">
    <xs:sequence>
      <xs:element minOccurs="0" name="auth_group_permissions" nillable="true" type="tns:ArrayOfauth_group_permissions" />
      <xs:element minOccurs="0" name="auth_user_user_permissions" nillable="true" type="tns:ArrayOfauth_user_user_permissions" />
      <xs:element minOccurs="0" name="codename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content_type_id" type="xs:int" />
      <xs:element minOccurs="0" name="django_content_type" nillable="true" type="tns:django_content_type" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auth_permission" nillable="true" type="tns:auth_permission" />
  <xs:complexType name="ArrayOfauth_user_user_permissions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="auth_user_user_permissions" nillable="true" type="tns:auth_user_user_permissions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfauth_user_user_permissions" nillable="true" type="tns:ArrayOfauth_user_user_permissions" />
  <xs:complexType name="auth_user_user_permissions">
    <xs:sequence>
      <xs:element minOccurs="0" name="auth_permission" nillable="true" type="tns:auth_permission" />
      <xs:element minOccurs="0" name="auth_user" nillable="true" type="tns:auth_user" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="permission_id" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auth_user_user_permissions" nillable="true" type="tns:auth_user_user_permissions" />
  <xs:complexType name="django_content_type">
    <xs:sequence>
      <xs:element minOccurs="0" name="app_label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auth_permission" nillable="true" type="tns:ArrayOfauth_permission" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="django_content_type" nillable="true" type="tns:django_content_type" />
  <xs:complexType name="ArrayOfauth_permission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="auth_permission" nillable="true" type="tns:auth_permission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfauth_permission" nillable="true" type="tns:ArrayOfauth_permission" />
</xs:schema>