entrega este si que si/Csharp remoto/BuenosAires.VentaBA/Connected Services/ServicioStockProducto/ServicioStockProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioStockProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4795/ServicioStockProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4795/ServicioStockProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4795/ServicioStockProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.BusinessLayer" />
      <xsd:import schemaLocation="http://localhost:4795/ServicioStockProducto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
      <xsd:import schemaLocation="http://localhost:4795/ServicioStockProducto.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:4795/ServicioStockProducto.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioStockProducto_ObtenerRespuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRespuesta" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_ObtenerRespuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRespuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_ValidarStockProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarStockProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_ValidarStockProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarStockProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_LeerTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodos" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_LeerTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Leer_InputMessage">
    <wsdl:part name="parameters" element="tns:Leer" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Leer_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_LeerTodosEnJson_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodosEnJson" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_LeerTodosEnJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodosEnJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_ProductosLeerTodosEnJson_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductosLeerTodosEnJson" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_ProductosLeerTodosEnJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductosLeerTodosEnJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_PerfilUsuarioLeerTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:PerfilUsuarioLeerTodos" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_PerfilUsuarioLeerTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerfilUsuarioLeerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_VerificarPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPassword" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_VerificarPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Reservar_InputMessage">
    <wsdl:part name="parameters" element="tns:Reservar" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_Reservar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_LeerTodosAnwoListaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodosAnwoListaProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_LeerTodosAnwoListaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodosAnwoListaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_MetodoAuxiliar_InputMessage">
    <wsdl:part name="parameters" element="tns:MetodoAuxiliar" />
  </wsdl:message>
  <wsdl:message name="IServicioStockProducto_MetodoAuxiliar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MetodoAuxiliarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioStockProducto">
    <wsdl:operation name="ObtenerRespuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/ObtenerRespuesta" message="tns:IServicioStockProducto_ObtenerRespuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/ObtenerRespuestaResponse" message="tns:IServicioStockProducto_ObtenerRespuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarStockProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/ValidarStockProducto" message="tns:IServicioStockProducto_ValidarStockProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/ValidarStockProductoResponse" message="tns:IServicioStockProducto_ValidarStockProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/Crear" message="tns:IServicioStockProducto_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/CrearResponse" message="tns:IServicioStockProducto_Crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/LeerTodos" message="tns:IServicioStockProducto_LeerTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/LeerTodosResponse" message="tns:IServicioStockProducto_LeerTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Leer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/Leer" message="tns:IServicioStockProducto_Leer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/LeerResponse" message="tns:IServicioStockProducto_Leer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/Actualizar" message="tns:IServicioStockProducto_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/ActualizarResponse" message="tns:IServicioStockProducto_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/Eliminar" message="tns:IServicioStockProducto_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/EliminarResponse" message="tns:IServicioStockProducto_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerTodosEnJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/LeerTodosEnJson" message="tns:IServicioStockProducto_LeerTodosEnJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/LeerTodosEnJsonResponse" message="tns:IServicioStockProducto_LeerTodosEnJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductosLeerTodosEnJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/ProductosLeerTodosEnJson" message="tns:IServicioStockProducto_ProductosLeerTodosEnJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/ProductosLeerTodosEnJsonResponse" message="tns:IServicioStockProducto_ProductosLeerTodosEnJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerfilUsuarioLeerTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/PerfilUsuarioLeerTodos" message="tns:IServicioStockProducto_PerfilUsuarioLeerTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/PerfilUsuarioLeerTodosResponse" message="tns:IServicioStockProducto_PerfilUsuarioLeerTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/VerificarPassword" message="tns:IServicioStockProducto_VerificarPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/VerificarPasswordResponse" message="tns:IServicioStockProducto_VerificarPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reservar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/Reservar" message="tns:IServicioStockProducto_Reservar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/ReservarResponse" message="tns:IServicioStockProducto_Reservar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerTodosAnwoListaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/LeerTodosAnwoListaProducto" message="tns:IServicioStockProducto_LeerTodosAnwoListaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/LeerTodosAnwoListaProductoResponse" message="tns:IServicioStockProducto_LeerTodosAnwoListaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MetodoAuxiliar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioStockProducto/MetodoAuxiliar" message="tns:IServicioStockProducto_MetodoAuxiliar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioStockProducto/MetodoAuxiliarResponse" message="tns:IServicioStockProducto_MetodoAuxiliar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioStockProducto" type="tns:IServicioStockProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerRespuesta">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/ObtenerRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarStockProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/ValidarStockProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerTodos">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/LeerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leer">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/Leer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerTodosEnJson">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/LeerTodosEnJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductosLeerTodosEnJson">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/ProductosLeerTodosEnJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerfilUsuarioLeerTodos">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/PerfilUsuarioLeerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPassword">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/VerificarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reservar">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/Reservar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerTodosAnwoListaProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/LeerTodosAnwoListaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MetodoAuxiliar">
      <soap:operation soapAction="http://tempuri.org/IServicioStockProducto/MetodoAuxiliar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioStockProducto">
    <wsdl:port name="BasicHttpBinding_IServicioStockProducto" binding="tns:BasicHttpBinding_IServicioStockProducto">
      <soap:address location="http://localhost:4795/ServicioStockProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>